<header>
    <img src="assets/img/angular.svg">
    <h1>{{title}}</h1>
</header>

<main>
    <section class="todo-list" *ngIf="todos.length">

        <div class="todo-item" *ngFor="let todo of todos" [ngClass]="{'completed': todo.completed}">
            <button class="checkbox icon" (click)="toggle(todo)">
                <!-- <span class="material-icons" *ngIf="!todo.completed">
                    check_box_outline_blank
                </span>
                <span class="material-icons" *ngIf="todo.completed">
                    check_box
                </span> -->

                <!-- <span class="material-icons">{{todo.completed ? 'check_box' : 'check_box_outline_blank'}}</span> -->

                <span class="material-icons"
                    [innerText]="todo.completed ? 'check_box' : 'check_box_outline_blank'"></span>
            </button>

            <span class="title"> {{todo.title}} </span>

            <div class="actions">
                <button class="delete icon" (click)="delete(todo)" title="Remove task">
                    <span class="material-icons">
                        delete
                    </span>
                </button>
            </div>

        </div>


    </section>


</main>